/tests/clar.suite
/tests/clar.suite.rule
/tests/.clarcache
/apidocs
/trash-*.exe
/libgit2.pc
/config.mak
*.o
*.a
*.exe
*.gcda
*.gcno
*.gcov
.lock-wafbuild
.waf*
build/
build-amiga/
tests/tmp/
msvc/Debug/
msvc/Release/
*.sln
*.suo
*.vc*proj*
*.sdf
*.opensdf
*.aps
*.cmake
!cmake/Modules/*.cmake
.DS_Store
*~
.*.swp
tags
mkmf.log

emscripten_hacks/src
emscripten_hacks/deps
emscripten_hacks/CMake*
emscripten_hacks/libgit2.pc
emscripten_hacks/Makefile
emscripten_hacks/node_modules

.vscode
*.profdata
*.profraw
